* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

span.color {
    color: #1ac056;
    font-weight: bold;
}

/*START nav*/
#main-nav {
    position: fixed;
    top: 0;
    right: 0;
}

#main-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

#main-nav li {
    padding: 20px;
}

#main-nav a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#main-nav a:hover {
    color: #1ac056;
}

#main-nav.change-color {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*START header*/
#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

#main-header h1,
h2 {
    font-weight: 300;
}

#main-header h1 {
    font-size: 60px;
}

#main-header h1 > span {
    font-size: 75px;
}

#main-header h2 {
    font-size: 40px;
}

/*START section.about*/
#about {
    margin-top: 20px;
    margin-bottom: 100px;
}

#about h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

#about .container-about {
    display: flex;
    justify-content: center;
}

#about .container-about .about-content {
    flex-basis: 40%;
    align-self: center;
}

#about .container-about .about-content > img {
    height: 300px;
}

/*START section.skills*/
#skills {
    min-height: 50vh;
    margin: 20px 60px 100px;
    text-align: center;
}

#skills h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

#skills .skills-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

/*START section-portfolio*/
#portfolio {
    min-height: 40vh;
    margin-top: 20px;
    text-align: center;
}

#portfolio h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

#portfolio .container-portfolio {
    display: flex;
    justify-content: center;
}

#portfolio .container-portfolio .portfolio-item {
    flex-basis: 33.333%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#portfolio .container-portfolio .port-one {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio .container-portfolio .port-two {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio .container-portfolio .port-three {
    background-image: url(../img/portfolio4.jpg);
}

#portfolio .container-portfolio .portfolio-item .port-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    top: 0;
    background-color: rgba(77, 25, 45, 0.5);
    opacity: 0;
    transition: all 0.5s ease-out;
}

#portfolio .container-portfolio .portfolio-item .port-mask .border {
    position: relative;
    height: 100%;
    border: 1px solid #fff;
}

#portfolio .container-portfolio .portfolio-item .port-mask .border .portfolio-content {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 10px;
    transform: translateY(-50%);
}

#portfolio .container-portfolio .portfolio-item .port-mask:hover {
    opacity: 1;
}

#portfolio .container-portfolio .portfolio-item .port-mask p {
    font-size: 15px;
    color: #fff;
}

/*START section-contact*/
#contact {
    min-height: 40vh;
    padding: 60px 60px;
    background-color: #213b50;
    color: white;
}

#contact .container-contact {
    display: flex;
    justify-content: space-evenly;
}

#contact .container-contact .contact-content {
    flex-basis: 40%;
    font-size: 20px;
    font-weight: 300;
}

#contact .container-contact .contact-content h3 {
    padding-bottom: 15px;
}

#contact .container-contact .contact-content input,
textarea {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
    background-color: #336690;
    border: 0;
}

#contact .container-contact .contact-content input[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: limegreen;
    color: white;
    border: 0;
}

#contact .social-icons a {
    display: inline-block;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    transition: all 0.3s;
}

#contact .social-icons a:hover {
    color: limegreen;
    border-color: limegreen;
}

#contact .social-icons a:hover i {
    transform: rotate(180deg);
}

/*START footer*/
.footer {
    text-align: right;
    background-color: #13212c;
    color: aliceblue;
    padding: 15px;
}
